<div class="row">
    <div class="col-sm-9">
        <h1><%= @bar[:bar_name] %></h1>
        <p><%= @bar[:description] %></p>
        <p><%= @bar[:location] %></p>
    </div> 

    <div class="col-6">
    <h2 class="mt-2"> What Other Members Say</h2> 
    <% for review in @review %> 
    <p> <strong> User: </strong> <%= @users_table.where(id: review[:user_id]).to_a[0][:name] %></p>
    <p> Comments: </p>  <%= review[:comments]%> 
    <% end %> 
    </div> 

        <iframe
        width="500"
        height="600"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
          &q=<%= @lat%>,<%= @long %>&zoom=14" allowfullscreen>
      </iframe>

            <p class="mt-5">
            <% if @current_user %>
                <a href="/bars/<%= @bar[:id] %>/reviews/new" class="btn btn-primary">Review Now</a>
            <% else %>
                <a href="/logins/new" class="btn btn-secondary">Please sign in to Leave a Review</a>
            <% end %>
        </p>
</div>



